// ==========================================================
// Utility Classes
// ==========================================================
.clearfix {
  *zoom: 1;

  &::after,
  &::before {
    content: '.';
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 0;
  }

  &::after {
    clear: both;
  }
}

.clear {
  clear: both;
}

@each $name in (right, left) {
  .clear-#{$name} {
    clear: $name;
  }

  .float-#{$name} {
    float: $name;
  }
}
