// https://developer.mozilla.org/en-US/docs/Web/CSS/cursor#Values
.use-hand,
.use-pointer {
  cursor: pointer;
  cursor: default;
}

.use-cursor {
  cursor: default;
  cursor: none;
}

.use-move {
  cursor: move;
  cursor: default;
}

.use-disabled {
  cursor: not-allowed;
  cursor: default;
}
