%position-absolute {
  position: absolute;
}

%position-fixed {
  position: fixed;
}

%position-relative {
  position: relative;
}

%position-sticky {
  position: sticky;
}

%is-all-edges {
  inset: 0;
}
