.__docsify-view-source-container {
  @import './../styles.scss';
}

.docs-palette {
  flex: 1;
  height: 70px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  border: 1px solid #cccccc;
}
